<!DOCTYPE html>
<html lang="pt-br">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Recuperação de Senha</title>

    <!-- Custom fonts for this template-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <Style>
        body {
            background-color: #f25116;
        }
    </Style>

</head>

<body class="d-flex justify-content-center align-items-center vh-100">

    <div class="container">
        <div class="jumbotron mt-4">
            <h1 class="display-4">Conta ativada com sucesso!</h1>
            <p class="lead">Sua conta foi ativada com sucesso. Agora você pode acessar sua conta com suas credenciais.
            </p>
            <hr class="my-4">
            <a href="http://www.seusite.com" class="btn btn-primary">Ir para o Site</a>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="./js/dashboard/jquery.min.js"></script>
    <script src="./js/dashboard/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="./js/dashboard/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="./js/dashboard/sb-admin-2.js"></script>

</body>

</html>